@charset "utf-8";
/* 
:root {
} */

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
}

.first_time {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(131, 58, 180);
  background: linear-gradient(
    30deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.first_time > div {
  margin-top: 30px;
  padding: 30px;
  color: white;
  font-weight: 10;
}

#init-btn {
  height: 40px;
  width: 64px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#init-btn:hover {
  background: rgba(255, 255, 255, 0.8); /* カード背景の色＋不透明度 */
  color: black;
  cursor: pointer;
}

.main {
  display: none;
  height: 100%;
  background-color: rgb(131, 58, 180);
  background: linear-gradient(
    45deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

header {
  height: 80px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassmorphism {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.25); /* カード背景の色＋不透明度 */
  backdrop-filter: blur(10px); /* 背景のぼかし具合 */
  border-radius: 16px; /* 角の丸み */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* 外側の影 */
  border: 1px solid rgba(255, 255, 255, 0.3); /* 縁のスタイル */
}

#logo img {
  height: 60px;
}

#init_table {
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}

#init_table th > span {
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
}

#init_table #table_select {
  display: grid;
}

.wrapper {
  margin: 15px auto;
  max-width: 700px;
}
.container-calendar {
  background: #ffffff;
  padding: 15px;
  width: 98%;
  margin: 0 auto;
  overflow: auto;
  background-color: rgb(131, 58, 180);
  background: linear-gradient(
    30deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}
.table-calendar {
  border-collapse: collapse;
  width: 100%;
}
.table-calendar th,
.table-calendar td {
  padding: 10px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}
.date-picker.selected {
  font-weight: bold;
  color: #fff;
  background: #cc0000;
}
.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

.date-picker.checked {
  background-color: green;
}

/* 日曜 */
.date-picker:nth-child(1) {
  color: red;
}
/* 土曜 */
.date-picker:nth-child(7) {
  color: blue;
}
#monthAndYear {
  text-align: center;
  margin-top: 0;
}
.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#previous {
  float: left;
}
#next {
  float: right;
}
.footer-container-calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 10px 0;
}
.footer-container-calendar > div {
  margin-top: 20px;
}

select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #454545;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

#footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer-container > div {
  margin: 20px;
}
#done-btn {
  margin-top: 60px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 0;
  background-color: #00a2b7;
  background: radial-gradient(#00a2ff, #00a2b7);
  color: white;
  font-size: large;
  font-weight: 800;
  cursor: pointer;
}
